<meta charset='utf-8'/>

<meta http-equiv='X-UA-Compatible' content='IE=edge'/>
<meta name='viewport' content='width=device-width, initial-scale=1'/>

<meta name='description' content='Documentation on using Liquid with your app. Integrate Liquid SDK for iOS, Android or Windows.'/>
<meta name='keywords' content='documentation sdk integration api'/>

<meta property='og:title' content='Liquid Documentation'/>
<meta property='og:type' content='website'/>
<meta property='og:image' content='https://lqd-io.s3.amazonaws.com/public/assets/onliquid_og%402x.png'/>
<meta property='og:description' content='Documentation on using Liquid with your app. Integrate Liquid SDK for iOS, Android or Windows.'/>
<meta property='og:url' content='{{ site.github.url }}'/>

<meta name='twitter:card' content='summary'/>
<meta name='twitter:site' content='{{ site.github.url }}'/>
<meta name='twitter:url' content='@onliquid'/>
<meta name='twitter:title' content='Liquid Documentation'/>
<meta name='twitter:description' content='Documentation on using Liquid with your app. Integrate Liquid SDK for iOS, Android or Windows.'/>
<meta name='twitter:image' content='https://lqd-io.s3.amazonaws.com/public/assets/twitter_summary_card_image%402x.png'/>

<link rel='shortcut icon' href='{{ site.github.url }}/favicon.ico'>

<title>{{ page.title | prepend: 'Liquid - ' }}</title>

<!-- Google Font -->
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic'/>

<!-- Font Awesome -->
<link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'/>

<!-- Compiled and minified Bootstrap CSS and JavaScript -->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>

<!-- Custom CSS and JavaScript -->
<link rel='stylesheet' type='text/css' href='{{ site.github.url }}/css/zoom.css'/>
<link rel='stylesheet' type='text/css' href='{{ site.github.url }}/css/syntax.css'/>
<link rel='stylesheet' type='text/css' href='{{ site.github.url }}/css/main.css'/>
