<meta charset='utf-8'/>

<meta http-equiv='X-UA-Compatible' content='IE=edge'/>
<meta name='viewport' content='width=device-width, initial-scale=1'/>

<meta name='description' content=''/>
<meta name='keywords' content='documentation sdk integration api'/>

<meta property='og:title' content=''/>
<meta property='og:type' content=''/>
<meta property='og:image' content=''/>
<meta property='og:description' content=''/>

<meta property='fb:admins' content=''/>

<meta name='twitter:card' content=''/>
<meta name='twitter:site' content=''/>
<meta name='twitter:url' content=''/>
<meta name='twitter:title' content=''/>
<meta name='twitter:description' content=''/>
<meta name='twitter:image' content=''/>

<link rel='shortcut icon' href='{{ site.github.url }}/favicon.ico'>

<title>{{ page.title | prepend: 'Liquid - ' }}</title>

<!-- Google Font -->
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic'/>

<!-- Font Awesome -->
<link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'/>

<!-- Compiled and minified Bootstrap CSS and JavaScript -->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>

<!-- Custom CSS and JavaScript -->
<link rel='stylesheet' type='text/css' href='{{ site.github.url }}/css/zoom.css'/>
<link rel='stylesheet' type='text/css' href='{{ site.github.url }}/css/syntax.css'/>
<link rel='stylesheet' type='text/css' href='{{ site.github.url }}/css/main.css'/>
