<nav class='navbar'>
  <div class='container'>
    <div class='navbar-header'>
      <a href='{{ site.github.url }}/' class='navbar-brand'>
        <img alt='Liquid' height='44' src='{{ site.github.url }}/assets/liquid-logo.png' width='140'/>
        <span>Docs</span>
      </a>
    </div>
    <div class='collapse navbar-collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li><a href='https://onliquid.com' target='new'>Home</a></li>
        <li><a href='https://onliquid.com/contact' target='new'>Contact us</a></li>
        <li><a href='https://onliquid.com/sign-in' target='new'>Log in</a></li>
      </ul>
    </div>
  </div>
</nav>
